aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
bidict==0.23.1
certifi==2025.4.26
cffi==1.17.1
curl_cffi==0.11.1
frozenlist==1.7.0
h11==0.16.0
idna==3.10
multidict==6.6.3
mutagen==1.47.0
propcache==0.3.2
pycparser==2.22
python-engineio==4.12.1
python-socketio==5.13.0
simple-websocket==1.1.0
wsproto==1.2.0
yarl==1.20.1
yt-dlp==2025.6.30
